body {
  background-color: lightgrey;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: bolder;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 80px;
  font-weight: 500;
}

.play-button {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.start,
.reset {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: medium;
  background-color: beige;
}
